*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 600px;
    height: 400px;
    margin:20px auto;
    border: 2px solid black;
}
h1{
    margin: 20px;
    margin-left: 100px;
    color: green;
    
}
form{
    width: 400px;
    margin-top: 20px;
    margin-left: 100px;
    display: inline-block;
    border: 2px solid orange;
}
div{
    margin-top: 20px;
}
#btn{
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 30px;
    border: 2px solid green;
    border-radius: 40px;
}
p{
    margin-left: 100px;
}
#login{
    margin-left: 100px;
}