*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}
#signup{
    background-color: rgb(139, 215, 139); 
    border: 2px solid green; 
    width: 100px; 
    height: 40px; 
    border-radius: 40px;
}
#signup:hover{
    background-color: rgb(234, 200, 138);
    border: 2px solid orange; 
    width: 100px; 
    height: 40px; 
    border-radius: 40px;
}
#login{
    background-color: rgb(139, 215, 139); 
    border: 2px solid green; 
    width: 100px; 
    height: 40px; 
    border-radius: 40px;
}
#login:hover{
    background-color: rgb(234, 200, 138);
    border: 2px solid orange; 
    width: 100px; 
    height: 40px; 
    border-radius: 40px;
}
#cart{
    background-color: rgb(139, 215, 139); 
    border: 2px solid green; 
    width: 100px; 
    height: 40px; 
    border-radius: 40px;
}
#cart:hover{
    background-color: rgb(234, 200, 138);
    border: 2px solid orange; 
    width: 100px; 
    height: 40px; 
    border-radius: 40px;
}
#main{
    display: flex;
    justify-content: space-evenly;

}
.Hakka-Noodles{
    background-color: rgb(150, 239, 150);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    height: 250px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;        /* center horizontally */
    
}
.Chilli-paneer{
    background-color: rgb(150, 239, 150);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    height: 250px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;        /* center horizontally */
    
}
.Chilli-chicken{
    background-color: rgb(150, 239, 150);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    height: 250px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;        /* center horizontally */
    
}